{% extends "layout.jinja" %}

{% block body %}
<h3> View Users ({{ current_year }}) </h3>

<div class="row" style="margin-bottom: 2rem">
  <div class="col-xs-12 text-right">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Years <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for year in years %}
          <li><a href="/{{ year }}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <a href="/user/create" class="btn btn-default">Create User</a>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>lastname</th>
      <th>confirmation</th>
      <th>birth year</th>
      <th>last check</th>
      <th>last update</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    {% set cf_number = user.confirmation_number %}
    {% set starred_cf_number = cf_number[:4] + '*' * (cf_number|length - 8) + cf_number[-4:] %}

    <tr>
      <td>{{ user.lastname|upper }}</td>
      <td>{{ starred_cf_number }}</td>
      <td>{{ user.birth_year }}</td>
      <td>
        {% if user.last_update %}
        {{ user.last_update.strftime("%Y-%m-%d %H:%M") }}
        {% else %}
        {{ user.last_update }}
        {% endif %}
      </td>
      <td>
        {% if (user.screenshot and user.check_result) %}
        <a class="btn btn-default" href="/user/screenshot/{{ user.user_id }}" style="margin-right: 1rem;">screenshot</a>
        {% endif %}

        <a class="btn btn-primary" href="/check/{{ user.user_id }}">check</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
